@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-light: #066aff;
  --blue-dark: #0620a2;
  --hero-bg: #f9f0f2;
}

@font-face {
  font-family: Extended;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-light: var(--blue-light);
  --color-blue-dark: var(--blue-dark);
  --color-hero-bg: var(--hero-bg);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hero-bg: #0b191d;
  }
} */

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hero-bg: #0b191d;
}

@layer utilities {
  .font-extended {
    font-family: Extended, sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
