@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-light: #066aff;
  --blue-dark: #0620a2;
  --hero-bg: #f9f0f2;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Extended;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-light: var(--blue-light);
  --color-blue-dark: var(--blue-dark);
  --color-hero-bg: var(--hero-bg);
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --hero-bg: #0b191d;
}

@layer utilities {
  .font-extended {
    font-family: Extended, sans-serif;
  }
  .section {
    @apply py-12 md:py-18 px-8 lg:px-18 xl:px-24 flex flex-col justify-center items-center gap-12 w-full relative text-center mx-auto;
  }
  .overlay {
    @apply absolute bottom-0 h-[30%] w-full bg-linear-to-b from-transparent from-0% to-[#272424] to-100%;
  }
  .primary-text {
    @apply text-3xl lg:text-4xl 2xl:text-6xl font-extrabold py-6 2xl:leading-18 xl:leading-10;
  }
  .scale {
    @apply hover:scale-115 transition-all;
  }
  .social {
    @apply text-white/60 hover:text-[#76EAFF];
  }
  .button {
    @apply hover:scale-x-110 transition-all;
  }
  .hero {
    @apply bg-hero-bg w-full pb-18 pt-24 md:pt-42 px-8 lg:px-18 xl:px-24 flex flex-col lg:flex-row justify-center items-center lg:gap-18 xl:gap-20 2xl:gap-28 relative text-center select-none;
  }
}

body {
  background: var(--hero-bg);
  color: var(--foreground);
  font-family: var(--font-montserrat);
  text-align: center;
}

.slant {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}
