@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: Extended;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .font-extended {
    font-family: Extended, sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}
